@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Hedvig+Letters+Serif:opsz@12..24&family=Play&family=Playfair+Display:ital@0;1&family=Roboto+Mono:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* NavBar */

.navbar {
    height: 7rem;
    transition: all 0.5s;
    font-size: 1.3rem; 
}

.navbar-brand {
    font-family: Playfair Display, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link {
    font-family: Fira Sans, sans-serif;
}

i {
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 30px;
}

/* HOME Section */

#home {
    width: 100%;
    height: 100vh;
}

.masthead  {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    object-fit: cover;
    width: 100%;
 }

.color-overlay {
    font-family: Playfair Display, sans-serif;
    background-color: rgba(255, 255, 255, 0.534);
    color: black;
    flex-direction: column;
    letter-spacing: 2px;
    min-height: 100vh;

    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    line-height: 0;
}

.btn {
    margin-top: 50px;
}

/* ABOUT section */

#about {
    position: relative;
    background:  #f1e9e4;
    overflow: hidden;
}

/* curve from shapedivider.ap */

.custom-shape-divider-bottom-1701675901 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1701675901 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 650px;
}

.custom-shape-divider-bottom-1701675901 .shape-fill {
    fill: #d6cfcb;
}

.card {
    font-family: Playfair Display, sans-serif;
    box-shadow: 0 33px 61px -29px rgba(0, 0, 0, 0.623);
}

/* UPCOMING COLLECTION sesction */

.upcoming-collection .container-fluid {
    color: #fff;
    font-family: Playfair Display, sans-serif;
    display: inline-block;
}

.centered {
    display: flex;
    justify-content: end;
    
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.up-coll h2 {
    font-size: 100px;
    padding-top: 200px; 
}

.up-coll h3 {
    font-size: 80px;
 }

.up-coll h5 {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.countdown div {
    display: inline-flex;
    margin-top: 400px;
}

.countdown div p {
    font-size: 60px;
    padding-right: 20px;
}

/* THEA COLLECTION On Sale section */

.thea-collection {
    background: #d6cfcb;
    font-family: Playfair Display, sans-serif;
}

.thea-collection h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 5rem;
}

.thea-collection h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 3rem;
}

.product-inner-box .icons {
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.product-inner-box .icons a {
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
}

.product-inner-box .onsale .sale {
    background: #f1e9e4;
    font-size: 19px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
}

.product-inner-box .onsale .sale:before {
    border-color: transparent transparent transparent #f1e9e4;
    content: '';
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0; 
}

.product-inner-box .onsale .sale:after {   
    border-color: #f1e9e4 transparent transparent ;
    content: '';
    position: absolute;
    right: -8px;
    width: 0;
    top: 0; 
}

.product-inner-box img {
    box-shadow: 0 33px 61px -29px rgba(0, 0, 0, 0.623);
    height: 350px;
    width: 100%;
    object-fit: cover;
    
}

.product-box.is-hover .icons {
    transform: rotateY(-3%);
    top: 3%;
    opacity: 1;
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #000;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.cart-btn .btn {
    background: #f1e9e4;
}

.product-box.is-hover .cart-btn {
    opacity: 1;
}

.product-name h5 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.product-price {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

